/**
* Libre Caslon
**/
@import url('https://fonts.googleapis.com/css2?family=Libre+Caslon+Text:ital,wght@0,400;0,700;1,400&display=swap');

/**
* Source Code Pro
**/
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap');

/**
* Bootstrap NPM
**/
@import '~bootstrap/scss/bootstrap';

/**
* Global
**/
*{
    font-family: 'Libre Caslon Text', serif;
}

/**
* Header
**/
.header{
    color: #fff;
    padding: 30px;
    padding-left: 0px;
    padding-right: 0px;

    position: fixed;
    top: 0px;
    right: 0px;
    left: 0px;

    .header-inner{

        .header-branding{

            a{
                text-decoration: none;

                h3{
                    color: white;
                    margin: 0;
                    text-transform: uppercase;

                    span{
                        font-style: italic;
                    }
                }
            }
        }

        .header-nav{
            padding-top: 5px;

            ul{
                text-align: right;

                li{
                    display: inline-block;
                    margin-left: 20px;

                    a{
                        color: white;
                        text-decoration: none;
                        text-transform: uppercase;
                    }
                
                }
            }
        }
    }
}

/**
* Footer
**/

/** 
* Page: Index
**/
.index-top-section{
    background-image: url(https://images.unsplash.com/photo-1510987836583-e3fb9586c7b3?q=80&w=3540&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    background-size: cover;

    width: 100%;
    height: 100vh;

    .index-top-section-cover{
        background: rgba(0,0,0,.5);
        height: 100%;
        width: 100%;

        .index-top-section-inner{

            // Verticle and horizontal centering
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);

            .index-top-section-inner-top{

                h1{
                    color: white;
                    font-size: 3rem;
                    font-family: Source Code Pro, monospace;
                    margin: 0;
                    text-transform: uppercase;
                }

                h2{
                    color: white;
                    font-size: 1.5rem;
                    margin: 0;
                    text-transform: uppercase;

                    padding-top: 25px;
                    padding-bottom: 25px;

                    font-family: Source Code Pro, monospace;
                }
            }

            .index-top-section-inner-bottom{

                a{
                    background-color: #fff;
                    border-radius: 5px;
                    color: #000;
                    font-size: 1.1rem;
                    font-family: Source Code Pro, monospace;
                    padding: 10px 20px;
                    text-decoration: none;
                    text-transform: uppercase;
                    border-color: white;
                }
            }
        }
    }
}

/** 
* Page: about
**/
.about-top-section{
    background-image: url(https://images.unsplash.com/photo-1510987836583-e3fb9586c7b3?q=80&w=3540&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    background-size: cover;

    width: 100%;
    height: 500px;

    .about-top-section-cover{
        background: rgba(0,0,0,.5);
        height: 100%;
        width: 100%;

        .about-top-section-inner{

            // Verticle and horizontal centering
            position: relative;
            top: 160px;

            .about-top-section-inner-top{

                h1{
                    color: white;
                    font-size: 3rem;
                    font-family: Source Code Pro, monospace;
                    margin: 0;
                    text-transform: uppercase;
                }

                h2{
                    color: white;
                    font-size: 1.5rem;
                    margin: 0;
                    text-transform: uppercase;

                    padding-top: 25px;
                    padding-bottom: 25px;

                    font-family: Source Code Pro, monospace;
                }
            }

            .about-top-section-inner-bottom{

                a{
                    background-color: #fff;
                    border-radius: 5px;
                    color: #000;
                    font-size: 1.1rem;
                    font-family: Source Code Pro, monospace;
                    padding: 10px 20px;
                    text-decoration: none;
                    text-transform: uppercase;
                    border-color: white;
                }
            }
        }
    }
}